/* General Styles */

* {
  margin: 0;             /* a reset - removes inconsistencies among browsers */
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}


ul,
nav {
  list-style: none;   /* removes bullet points */
}

a {
  text-decoration: none;    /* removes default underline on links */
  opacity: 0.75;
  color: #fff;
}

a:hover {
  opacity: 1;  /* with about code makes link dimmer until hovered over */
}

a.btn {                         /* a tag with button class */
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

/* Header Styles */

header {
  position: absolute;
  width: 100%;
  display: flex;                   /* choose to use flexbox for header */
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;   /* CSS transition, needs keyframes added below */
  opacity: 0;
  color: #fff;
}


@keyframes fadein {
  100% {
    opacity: 1;
  }
}


header h2 {                               /* h2 tag within the header tag */
  font-family: "Quicksand", sans-serif
}

header nav {                          /* nav tag within header tag */
  display: flex;
  margin-right: -15px;
}

header nav li {       /* list tag within both nav and header tags  */
  margin: 0 15px;
}

/* Hero Styles */

.hero {                   /* this covers the entire section tag with class of hero */
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;    /* 100% of viewport */
  color: #fff;
}

.hero .background-image {     /* this is the div inside of section tag for the background image */
  position: absolute;   /* the next 5 lines position the background image in the div */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;              /* this pushes the image behind everything else */
  background-color: #80a3db;   /* adds background color based on image so won't see a white flicker when image loads */
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {       /* div within section that sits on top of background image */
                           /* contains the h1, h3, and btn tags */
  opacity: 0;          /* this with keyframes below transitions the center content from transparent to completely opaque */
  margin-top: 100px;   /* this positions center content lower than final position and with below slide content up as it becomes opaque */
  animation: 1s slidefade 1s forwards;   /* transition that slowly fades in content, keyframes below required */
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

/* Destinations sections */

.destinations .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destinations .grid li.small {
  flex-basis: 30%;
}

.destinations .grid li.large {
  flex-basis: 70%;
}


/* Packages */

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

.packages .grid li i {
  color: #8c9eff;
}

.packages .grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}